body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.container {
  max-width: 60100px;
  margin: 0 auto;
  background: #1c1074;
  padding: 20px;
  color: white;
}

h1 {
  text-align: center;
  margin-bottom: 5px;
}

h2 {
  text-align: center;
  font-weight: normal;
}

.input-area {
  display: flex;
  margin-top: 15px;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #e0e0e0;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: white;
  color: black;
  padding: 12px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:nth-child(even) {
  background: #f0f0f0;
}

.delete {
  cursor: pointer;
  font-size: 20px;
}
.completed {
  text-decoration: line-through;
  color: gray;
}


